<%= form_for(tx_schedule_message) do |f| %>
  <% if tx_schedule_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tx_schedule_message.errors.count, "error") %> prohibited this tx_schedule_message from being saved:</h2>

      <ul>
      <% tx_schedule_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :schedule_id %>
    <%= f.number_field :schedule_id %>
  </div>

  <div class="field">
    <%= f.label :Num_Alarma %>
    <%= f.number_field :Num_Alarma %>
  </div>

  <div class="field">
    <%= f.label :letter_color %>
    <%= f.number_field :letter_color %>
  </div>

  <div class="field">
    <%= f.label :background_color %>
    <%= f.number_field :background_color %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_field :message %>
  </div>

  <div class="field">
    <%= f.label :bit_date %>
    <%= f.number_field :bit_date %>
  </div>

  <div class="field">
    <%= f.label :bit_description %>
    <%= f.number_field :bit_description %>
  </div>

  <div class="field">
    <%= f.label :bit_escala %>
    <%= f.number_field :bit_escala %>
  </div>

  <div class="field">
    <%= f.label :bit_limit %>
    <%= f.number_field :bit_limit %>
  </div>

  <div class="field">
    <%= f.label :bit_reference %>
    <%= f.number_field :bit_reference %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
