<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.filter_new.title')%></h1>
      </div>

      <div class="ibox-content" id="responsiveTable">

        <%= render 'form', filtering_categorization: @filtering_categorization %>
      </div>
    </div>
  </div>
</div>



