/* line 5, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.cont-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 10, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.cont-inputs .values {
  width: 47%;
}
