/* line 5, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filters.scss */
.main_detalleFiltro {
  max-height: 400px;
  overflow: auto;
}
/* line 9, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filters.scss */
.main_detalleFiltro::-webkit-scrollbar {
  width: 8px;
  /*=> ancho del scroll*/
  border-radius: 10px;
}
/* line 15, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filters.scss */
.main_detalleFiltro::-webkit-scrollbar-track {
  background-color: #ccc;
  border-radius: 10px;
}
/* line 20, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filters.scss */
.main_detalleFiltro::-webkit-scrollbar-thumb {
  background-color: #0c3056;
  /*=> color del indicador del scroll */
  border-radius: 10px;
  /*=> bordes redondeados */
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3));
}

/* line 27, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filters.scss */
thead, tr, th {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* line 35, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filters.scss */
.modal-size-filter {
  max-width: 70%;
  background-color: #fff;
  margin: auto;
  margin-top: 10em;
  border-radius: 5px;
}

/* line 43, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filters.scss */
.btn-save {
  line-height: 4;
}
