<% if @tx_filter.errors.empty? %>
// add the row to the table, show alert and hide modal
// Agrega la tr para mostrar el horario en tx_filter_details/new
$('.tree table tbody').append(' <%= j render "row", fil: @tx_filter %>');
$('#mensaje_schedule').html("<strong>El horario ha sido creado con éxito</strong>").show();
$("#mensaje_schedule").fadeTo(2000, 500).slideUp(500, function () {
    $("#mensaje_schedule").slideUp(500);
});
$('#filter-modal').modal('hide');
<% else %>
// show first error
alert('<%= @tx_filter.errors.full_messages[0] %>');
<% end %>