<p id="notice"><%= notice %></p>

<h1>Tx Filters</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tx_filters.each do |tx_filters| %>
      <tr>
        <td><%= link_to 'Show', tx_filters %></td>
        <td><%= link_to 'Edit', edit_tx_filters_path(tx_filters) %></td>
        <td><%= link_to 'Destroy', tx_filters, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tx Filters', new_tx_filters_path %>
