<% if @tx_filter.errors.empty? %>
// add the row to the table, show alert and hide modal
//$('table tbody tr#<%#= @tx_filter.id %>').replaceWith(' <%#= j render "row", fil: @tx_filter %>');
var  trFilter = $('table.tree tbody tr#<%= @tx_filter.id %>');
//Modifica el nombre del Filtro en la tr
trFilter.find('strong.filDes').html('<%= @tx_filter.Description %>');

//Texto para el tipo de filtro
var typeFil = "<%= @tx_filter.Order_number %>"
if( typeFil == '0' ){
  txtTypeFil = "Principal";
    trFilter.find('div.cube-bg').removeClass('cube-filter-sec').removeClass('cube-filter-group').addClass('cube-filter-primray');
} else if( typeFil == '1' ){
  txtTypeFil = "Secundario";
    trFilter.find('div.cube-bg').removeClass('cube-filter-primray').removeClass('cube-filter-group').addClass('cube-filter-sec');
} else if( typeFil == '2' ){
  txtTypeFil = "Grupal";
    trFilter.find('div.cube-bg').removeClass('cube-filter-sec').removeClass('cube-filter-primray').addClass('cube-filter-group');
}
trFilter.find('span.typeFiSpa').html(txtTypeFil);

$('#mensaje_schedule').html("<strong>El Filtro ha sido modificado con éxito</strong>").show();
$("#mensaje_schedule").fadeTo(2000, 500).slideUp(500, function () {
    $("#mensaje_schedule").slideUp(500);
});

$('#filter-modal').modal('hide');
<% else %>
// show first error
alert('<%= @tx_filter.errors.full_messages[0] %>');
<% end %>