<div class="row" id="margen">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.user_priority_index.assign') %> Key Monitor Transaccional</h1>
      </div>
      <div class="ibox-content" id="responsiveTable">
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">
            <input type="hidden" value="<%= @filtro.Description %>" id="filter_name">
            <table class="table table-bordered table-condensed table-striped" id="tablafi1" tabindex="5005">
              <thead>
              <tr>
                <th class="text-center" data-sort-ignore="true"><%= t('views.user_priority_index.sessions') %></th>
                <th class="text-center" data-sort-ignore="true"><%= t('views.user_priority_index.filters') %></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><%= @sesion.Description %></td>
                <td><%= @filtro.Description %></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-1"></div>
        </div>
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">
            <div class="row">
              <div class="col-xs-10">
                <h3><%= t('views.user_priority_index.priorities') %></h3>
              </div>
              <% if @crearPrioridad == 8 %>
                <div class="col-xs-2 text-right">
                  <buton class="btn btn-w-m btn-primary btn-sm add-p" id="add_p" data-toggle="modal" data-target="#add_priority">
                    <%#= t('views.user_priority_index.add_p') %> Agregar Prioridad
                  </buton>
                </div>
              <% end %>
            </div>

            <table class="table table-bordered table-condensed table-striped" id="tablafi2" tabindex="5005">
              <thead>
              <tr>
                <th class="text-center" data-sort-ignore="true"><%= t('views.user_priority_index.priority') %></th>
                <th class="text-center" data-sort-ignore="true"><%= t('views.user_priority_index.analyst') %></th>
                <% if @editarPrioridad == 4 %>
                  <th class="text-center" data-sort-ignore="true"><%= t('views.user_priority_index.change') %></th>
                <% end %>
                <% if @eliminarPrioridad == 1 %>
                  <th class="text-center" data-sort-ignore="true"><%= t('views.user_priority_index.delete_p') %></th>
                <% end %>
              </tr>
              </thead>
              <tbody>
              <% @prioridades.each do |p| %>
                <tr class="text-center">
                  <td><%= p.Prioridad %></td>
                  <td>
                    <% @usr = User.find(p.IdUsuario) %>
                    <% if @usr.present? %>
                      <%= @usr.name %> <%= @usr.last_name %>
                    <% else %>
                      N/A
                    <% end %>
                  </td>
                  <% if @editarPrioridad == 4 %>
                    <td>
                      <buton class="btn btn-w-m btn-primary btn-sm change" id="change<%= p.Id %>" data-toggle="modal" data-target="#change_priority">
                        <%= t('views.user_priority_index.change') %>
                      </buton>
                    </td>
                  <% end %>
                  <% if @eliminarPrioridad == 1 %>
                    <td>
                      <button class="btn btn-danger btn-xs delete" type="button" id="delete<%= p.Id %>">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  <% end %>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-xs-1"></div>
        </div>
        <div class="row">
          <div class="col-xs-1">
            <%= link_to '<span class="fa fa-arrow-up" ></span>  '.html_safe + t('all.back'), user_priority_index_path, :class => 'btn btn-xs btn-primary dim' %>
          </div>
          <div class="col-xs-11"></div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<% if @crearPrioridad == 8 %>
  <div class="modal inmodal" id="change_priority" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content animated bounceInRight">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only"><%= t('views.niv_alert_index.close') %></span>
          </button>
          <h4 class="modal-title"><%= t('views.user_priority_index.change') %></h4>
        </div>
        <%= form_tag({:controller => "user_priority", :action => "assignPriority"}, :method => "get", :class => "form-horizontal") do %>
          <input type="hidden" value="true" name="form_change">
          <input type="hidden" value="<%= @idSesion %>" name="ids">
          <input type="hidden" value="<%= @idFiltro %>" name="idf">
          <input type="hidden" value="" id="priority_id" name="priorityId">
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-1"></div>
              <div class="col-xs-10">
                <label> <%= t('views.user_priority_index.analyst') %></label>
                <select name="users_priority" id="users" class="form-control">
                  <option value=""> <%= t('views.user_priority_index.placeh_analyst') %> </option>
                  <% @users.each do |us| %>
                    <option value="<%= us.id %>"> <%= us.name %> <%= us.last_name %> </option>
                  <% end %>
                </select>
                <font color="#8b0000"><label id="errorUsers" style="display: none;"></label></font>
              </div>
              <div class="col-xs-1"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal"><%= t('views.niv_alert_index.close') %></button>
            <%= button_tag(type: 'submit', class: 'btn btn-primary', :id => "change", :disabled => "true") do %>
              <%= t('views.user_priority_index.change_b') %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% if @crearPrioridad == 8 %>
  <div class="modal inmodal" id="add_priority" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content animated bounceInRight">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only"><%= t('views.niv_alert_index.close') %></span>
          </button>
          <h4 class="modal-title"><%#= t('views.user_priority_index.add_p') %>Agregar Prioridad</h4>
        </div>
        <%= form_tag({:controller => "user_priority", :action => "assignPriority"}, :method => "get", :class => "form-horizontal", :id => "form_priority") do %>
          <input type="hidden" value="true"  name="form_priority">
          <input type="hidden" value="<%= @idSesion %>" name="ids">
          <input type="hidden" value="<%= @idFiltro %>" name="idf">
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-1"></div>
              <div class="col-xs-10">
                <label> <%= t('views.user_priority_index.priority') %></label>
                <input type="text" class="form-control" name="priority" id="priority_number" value="<%= @sig_priority %>" disabled>
                <label> <%= t('views.user_priority_index.analyst') %></label>
                <select name="users_add_priority" id="users_add_p" class="form-control">
                  <option value=""> <%= t('views.user_priority_index.placeh_analyst') %> </option>
                  <% @users.each do |us| %>
                    <option value="<%= us.id %>"> <%= us.name %> <%= us.last_name %> </option>
                  <% end %>
                </select>
                <font color="#8b0000"><label id="errorUsers" style="display: none;"></label></font>
              </div>
              <div class="col-xs-1"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal"><%= t('views.niv_alert_index.close') %></button>
            <%= button_tag(type: 'submit', class: 'btn btn-primary', :id => "add_priority_b", :disabled => "true") do %>
              <%= t('views.user_priority_index.add_p') %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<script>
  $(".change").click(function() {
      var id = this.id;
      id = id.substring(6)

      $("#priority_id").val(id)
  })

  $("#users").change(function(){
      var valor = $(this).val()

      if (valor == ""){
          $("#change").attr("disabled", true)
      }
      else{
          $("#change").attr("disabled", false)
      }
  })

  $("#users_add_p").change(function(){
      var valor = $(this).val()

      if (valor == ""){
          $("#add_priority_b").attr("disabled", true)
      }
      else{
          $("#add_priority_b").attr("disabled", false)
      }
  })

    $("#form_priority").submit(function(){
        $("#priority_number").attr("disabled", false)
    })

  <% if @eliminarPrioridad == 1 %>
  function recargar() {
      var ids = "<%= @idSesion %>"
      var idf = "<%= @idFiltro %>"
      window.location = window.location.pathname+"?ids="+ids+"&idf="+idf;
      //window.location.reload(true);
  }

  $(document).on("click", ".delete", function () {
      var id = this.id;
      id = id.substring(6)
      var ids = "<%= @idSesion %>"
      var idf = "<%= @idFiltro %>"
      var filter = $("#filter_name").val()

      swal({
              title: '<%= t('views.user_priority_index.sure')%> ' + filter + '?',
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
              cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
              closeOnConfirm: false,
              closeOnCancel: false
          },
          function (isConfirm) {
              if (isConfirm) {
                  $.ajax({
                      type: "GET",
                      beforeSend: function (xhr) {
                          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                      },
                      url: "/user_priority/assignPriority?delete=true&priorityId="+id+"&ids="+ids+"&idf="+idf,
                      data: {"_method": "assignPriority"},
                  })
                  swal(
                      {
                          title: '<%= t('views.user_priority_index.deleted')%>',
                          type: "success",
                          confirmButtonText: "OK",
                      }, function (isConfirm) {
                          if (isConfirm) {
                              recargar();
                          }
                      })
              } else {
                  swal("<%= t('views.user_priority_index.canceled')%>");
              }
          });
  })
  <% end %>

</script>
