<div class="block-area" id="responsiveTable">
  <div class="ibox-title">
    <h1><%= t('all.mail_Groups') %></h1>
    <div class="panel">
      <div class="panel-body">
        <div class="block-area" id="tableBordered">
          <div class="ibox-content">

            <%#= if @crearEmail == 8 %>
            <%= link_to '<i class="fa fa-envelope"></i> '.html_safe + t('views.groups_index.newBtn'), {:controller => "groups", :action => "new", :profile_id => current_user.profile_id}, class: 'btn btn-primary btn-xs' %>
            <%# end %>
            <div class="table footable">
              <table class="table table-bordered table-striped table-condensed toggle-circle-filled title" datapagesize="8" data-filter=#filter id="table">
                <br>
                <thead>
                <tr>
                  <th class="text-center"><%= t('views.groups_index.name') %></th>
                  <th class="text-center"><%= t('views.groups_index.correos') %></th>
                  <th class="text-center"><%= t('all.show') %></th>
                  <th class="text-center" data-hide="phone"><%= t('all.edit') %> </th>
                  <th class="text-center" data-hide="phone"><%= t('all.destroy') %></th>
                </tr>
                </thead>

                <tbody id="team">
                <%= render @groups %>
                </tbody>
                <tfoot>
                <tr>
                  <td colspan="7">
                    <ul class="pagination pull-right"></ul>
                  </td>
                </tr>
                </tfoot>
              </table>
            </div>
            <%#= if @crearEmail == 8 %>
            <%= link_to '<i class="fa fa-envelope"></i> '.html_safe + t('views.groups_index.newBtn'), {:controller => "groups", :action => "new", :profile_id => current_user.profile_id}, class: 'btn btn-primary btn-xs' %>
            <%# end %>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" language="javascript" class="init">

    $(document).on("click", ".eliminar", function () {
        var id = this.id;
        swal({
                title: '<%= t('views.mess_view_title')%>',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "<%= t('views.mess_view_swall_confirm')%> ",
                cancelButtonText: "<%= t('views.mess_view_swall_cancel')%>",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    swal({
                            title: '<%= t('views.mess_view_title2')%>',
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "<%= t('views.mess_view_swall_confirm')%> ",
                            cancelButtonText: "<%= t('views.mess_view_swall_cancel')%>",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: "POST",
                                    beforeSend: function (xhr) {
                                        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                                    },
                                    url: "/groups/" + id,
                                    data: {"_method": "delete"},
                                })
                                //swal("<%= t('views.mess_view_swall')%>");
                                swal(
                                    {
                                        title: '<%= t('views.mess_view_swall')%>',
                                        type: "success",
                                        confirmButtonText: "OK",
                                    })
                            } else {
                                swal("<%= t('views.mess_view_swall_cancel_1')%>");
                            }
                        })
                } else {
                    swal("<%= t('views.mess_view_swall_cancel_1')%>");
                }
            });
    })
</script>