<%
  @porAtender = Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdUsuario => "N/A").count
%>
<h1 class="no-margins"><%= number_with_delimiter(@porAtender, :delimiter => ',') %></h1>