<tr id="datosmail_<%= mail_group.id %>">
  <td class="text-center">
    <% if mail_group.group.present? %>
      <% if mail_group.group.name.present? %>
        <%= mail_group.group.name %>
      <% end %>
    <% else %>
      N/A
    <% end %>
  </td>
  <td class="text-center">
    <%= mail_group.correo %>
  </td>
  <td align="center" data-toggle="tooltip" data-placement="bottom" title=<%= t('all.edit') %> align="center">
    <%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil"></i></button>'.html_safe, edit_mail_group_path(mail_group) %>
  </td>
  <td align="center" data-toggle="tooltip" data-placement="bottom" title=<%= t('all.destroy') %> align="center">
    <button class="btn btn-danger btn-xs  eliminar" type="button" id="<%= mail_group.id %>">
      <i class="fa fa-trash-o"></i>
    </button>
  </td>
</tr>