<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.mail_group_edit.title') %></h1>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>

